.main-search-container {
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 30%;
	left: 30%;
	width: auto;
}
.main-search-card {
	width: 650px;
}
.main-search-form-row {
	margin-top: 50px;
	justify-content: center;
}
.main-search-search-button {
	border-radius: 25px;
	height: 50px;
	padding: 5px;
	width: 100px;
}
.main-search-search-form {
	border-radius: 25px;
	height: 50px;
	padding-left: 20px;
	// width: 100%;
	width: 550px;
}
.main-search-logo-image {

	width: 100%;
	// margin-top: 150px;
	align-self: center;
}
.main-search-category-search-button {
	text-align: right;
	margin-right: 30px;
	margin-top: 10px;
}
.main-search-category-button-row {
	align-self: center;
	justify-self: center;
	width: 600px;
}
.main-search-category-button-red {
	background-color: #ea4335;
	border-color: #ea4335;
	border-radius: 30px;
	height: 60px;
	width: 60px;
	margin: 10px;
}
.main-search-category-button-red:hover {
	background-color: #ea4335;
	border-color: #ea4335;
	border-radius: 30px;
	height: 60px;
	width: 60px;
	margin: 10px;
}
.main-search-category-button-blue {
	background-color: #4285f4;
	border-color: #4285f4;
	border-radius: 30px;
	height: 60px;
	width: 60px;
	margin: 10px;
}
.main-search-category-button-blue:hover {
	background-color: #4285f4;
	border-color: #4285f4;
	border-radius: 30px;
	height: 60px;
	width: 60px;
	margin: 10px;
}
.main-search-category-button-green {
	background-color: #34a853;
	border-color: #34a853;
	border-radius: 30px;
	height: 60px;
	width: 60px;
	margin: 10px;
}
.main-search-category-button-green:hover {
	background-color: #34a853;
	border-color: #34a853;
	border-radius: 30px;
	height: 60px;
	width: 60px;
	margin: 10px;
}
.main-search-category-button-yellow {
	background-color: #fbbc05;
	border-color: #fbbc05;
	border-radius: 30px;
	height: 60px;
	width: 60px;
	margin: 10px;
}
.main-search-category-button-yellow:hover {
	background-color: #fbbc05;
	border-color: #fbbc05;
	border-radius: 30px;
	height: 60px;
	width: 60px;
	margin: 10px;
}
// .main-search-item-menu-card{
// }

.main-search-item-menu-list-group {
	background-color: #ea4335;
}
.main-search-human-menu-card{
	background-color: #4285f4;
}

.main-search-human-menu-list-group {
	background-color: #4285f4;
}
.main-search-money-menu-card{
	background-color: #fbbc05;
}

.main-search-money-menu-list-group {
	background-color: #fbbc05;
}
.main-search-place-menu-card{
	background-color: #34a853;
}

.main-search-place-menu-list-group {
	background-color: #34a853;
}

.search-button-deactive {
	background-color: #999999;
	border-color: #999999;
	border-radius: 30px;
	height: 50px;
	width: 80px;
	margin-left: 10px;
}
.search-button-deactive:hover {
	background-color: #999999;
	border-color: #999999;
	border-radius: 30px;
	height: 50px;
	width: 80px;
	margin-left: 10px;
}
.search-button-active {
	border-radius: 30px;
	height: 50px;
	width: 80px;
	margin-left: 10px;
}