.item-name {

}
.item-post-container {
}

.item-post-card {
    padding: 20px;
    padding-left: 40px;
    // margin-bottom: 100px;
}

.item-post-back-to-list-button {
    margin-bottom: 20px;
}
.item-post-item-name {
    width: 90%;
}
.item-post-else-info {
    width: 90%;
}
.item-post-image-container {
    height: 150px;
    width: 150px;
    margin: 10px;
}
.item-post-image {
    height: 100%;
    width: 100%;
}
.item-post-image-input {
    display: none;
}
// .item-post-image-input-button {
//     margin-top: 20px;
// }
.item-post-image-placeholder {
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
    text-align: center;
}
.icon-button-file {
    height: 60%;
    width: 60%;
}
.item-post-yen {
    font-size: 22px;
    margin-top: 10px;
    margin-left: 8px;
}