.filter-free-word-search{
    margin-bottom: 50px;
    margin-left: 30px;
    color: white;
}

// TextField{
//     width: 500px;
// }

.filter-container1{
    background-color:red;
}
.filter-container2{
   background-color: blue;
}
.filter-container3{
    background-color: aqua
}
.filter-container4{
    background-color: burlywood;
}