.main-search-container {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-search-form-row {
    margin-top: 50px;
    justify-content: center;
}
.main-search-search-button {
    border-radius: 25px;
    height: 50px;
    padding: 5px;
    width: 100px;
}
.main-search-search-form {
    border-radius: 25px;
    height: 50px;
    padding-left: 20px;
    width: 600px;
}
.main-search-logo {
    background-color: #282c34;
    margin-top: 150px;
    width: 600px;
}
.main-search-category-search-button {
    // background-color: aqua;
    padding-right: 200px;
    text-align: right;
}