.used-history-detail-container{
    color: white;
}

.used-history-detail-item-name{
    color: white;
    font-size: 35px;
    margin-left: 20px;
}

.used-history-detail-favorite-heart{
    color: red;
    font-size: 20px;
    margin-left: 20px;
}

.used-history-detail-favorite-num{
    color: white;
    font-size: 20px;
    margin-left: 15px;
}

.used-history-detail-borrow-num{
    color: white;
    font-size: 20px;
    margin-left: 40px;
}

.used-history-detail-charge-per-hour{
    color: white;
    font-size: 20px;
    margin-left: 40px;
}

.used-history-detail-charge-per-day{
    color: white;
    font-size: 20px;
    margin-left: 40px;
}

.used-history-detail-goto-back{
    font-size: 20px;
    margin-left: 400px;
    width: 100px;
}

.used-history-detail-poster-name{
    color: white;
    font-size: 20px;
    margin-top: 30px;
}


.used-history-detail-poster-average-value{
    color: yellow;
    font-size: 20px;
}

.used-history-detail-borrowed-time{
    color: white;
    font-size: 20px;
}

.used-history-detail-total-charge{
    color: white;
    font-size: 20px;
}

.used-history-detail-poster-value{
    color: yellow;
    font-size: 20px;
}

.used-history-detail-value-comments{
    width: 500px;
    height: 300px;
    background-color: aliceblue;
    border-radius: 8px;
    color: black;
    font-size: 20px;
    padding: 15px;
}

.used-history-detail-goto-request{
    background-color: #e29930;
    border-color: #e29930;
    font-size: 18px;
    font-weight: bold;
    margin-top:30px;
    margin-left: 30px;
    width: 80%;   
}

