// .navbar-logo-image{
//     height: 60px;
// }

.navbar-container{

    margin-bottom: 70px;
}

.navbar-hamburger-menu-button{


    position: absolute;
    top: 15px;
    right: 20px;
}
.navbar-hamburger-menu-button:hover{

    background-color: #999999;

    position: absolute;
    top: 15px;
    right: 20px;
}

.navbar-hamburger-menu-button-items{
    position: absolute;
    top: 55px;
    right:20px;
}

.navbar-hamburger-menu-button-item{
    width: 80px;
}