.background-image {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;	
}
.login-card-inside-contaienr {
	position: relative;
	height: 100%;
}
.login-card-left-container {

	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 100%;
	width: 50%;
	position: relative;
	top: 0px;
	left: 0px;
}

.login-card-right-container {

	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 100%;
	width: 50%;
	padding: 40px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.login-left-image {
	height: 100%;
}

.login-logo {
	margin-top: 150px;
	margin-bottom: 80px;
	width: 90%;
	margin-left: 4%;
}
.login-sign-up-button {
	margin-top: 20px;
	margin-right: 10px;
	text-align: right;
}