.item-post-confirm-header{
    color:white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.item-post-confirm-image-header{
    color : white;
    font-size: 20px;
    text-align: center;
}
.item-post-confrim-image{
    width:100%;
    margin-bottom: 5px;
}

.item-post-confirm-info-container{
    // background-color: rgb(230, 225, 218);
    color: white;
    margin-top: 45px;
    
}

.item-post-confirm-item-name{
    font-size:30px;
    margin-bottom: 25px;
}

.item-post-confirm-fee{
    font-size:30px;
    margin-bottom: 25px;
}

.item-post-confirm-extra-info-header{
    font-size: 30px;
    margin-bottom: 25px;
}