.option-search-free-word-search-row{
    margin-left:40px;
    margin-bottom:20px;
}

.option-search-category-row{
    margin-left:40px;
    margin-bottom:30px;
}

.option-search-prefecture-row{
    margin-left:40px;
    margin-bottom:30px;
}

.option-search-free-word-search-form {
    border-radius: 25px;
    height: 50px;
    padding-left: 40px;
    // width: 100%;
    width: 300px;
}

.option-search-lent-price-row{
    margin-left:40px;
    margin-bottom: 50px;
}

.option-search-lent-period-head{
    margin-left: 40px;
    margin-bottom:5px;
    color:white;
    font-size: 20px;
    
}

.option-search-lent-period-button{
    margin-left: 40px;
    margin-bottom:30px;
    color:white;
    font-size: 20px;
    font-weight: bold;
}

.button-one-hour{
    margin-right: 30px;
    width: 80px;
    font-weight: bold;
}

.button-one-day{
    width:80px;
    font-weight: bold;

}

.option-search-lent-price-head{
    margin-left: 40px;
    margin-bottom:30px;
    color:white;
    font-size: 20px;
}
.option-search-price-input-range{
    // width: 300px;
    margin-bottom:20px;
    margin-left: 40px;
}

.option-search-min-price-input{
    margin-bottom:20px;
}
