.chat-screen-container {
    padding-top: 50px;
}

.chat-list-container {
    height: 100%;
    width: 50%;
    padding-top: 80px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    overflow-x:scroll;
}

.chat-main-container {
    height: 100%;
    width: 50%;
    position: fixed;
    right: 0px;
    bottom: 0px;
}