.chat-screen-container {
    padding-top: 50px;
}

.chat-list-container {
    height: 100%;
    width: calc(50% - 10px);
    padding-top: 80px;
    position: fixed;
    left: 10px;
    bottom: 0px;
    overflow-y: scroll;
}

.chat-main-container {
    height: 100%;
    width: 50%;
    position: fixed;
    right: 0px;
    bottom: 0px;
}