.chat-textarea{
    // position: absolute;
    // right: 140px;
    // bottom: 30px;
    // width:35%;
    // height:50px;
    // margin-top: 20px;
    width: 500px;
    // position: fixed;
    // right: 60px;
    // bottom: 0px;
    // width: 100%;
    // right: 0px;
    // right: 0px;
}
.chat-send-button{
    // width: 5%;
    // height:88px;
    // margin-top:441px;
    // margin-left:960px;
    height:87px;
    background-color: #035e88;
    border-color: #035e88;
    position: absolute;
    right: 20px;
    width: 60px;
}
#chat-view-container{
    overflow: auto;/* スクロールを効かせつつ、メッセージがタイムラインの外に出ないようにする */
    // height:700px;/*テキストエリアが下に張り付く様にする*/
    // width:41%;
    // right: 5%;
    // padding-top:50px;
    // height:calc(100% - 120px);
    // bottom: 120px;
    // position:fixed;
    // border-right: 1px solid #ddd;
    // border-left: 1px solid #ddd;
    // background-color: #eee;
    // box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset;/*ヘッダーの下に影を入れる*/
    height: 450px;

}

.chat-message{
    margin: 0px;
    padding: 0 14px;/*吹き出しがタイムラインの側面にひっつかない様に隙間を開ける*/
    font-size: 6px;
    word-wrap: break-word;/* 吹き出し内で自動で改行 */
    white-space: normal;/*指定widthに合わせて、文字を自動的に改行*/
}

.chat-message-box{
    margin-top: 20px;
    max-width: 100%;
    font-size: 16px;
}

.chat-message-content{
    padding: 15px;
}

.chat-left{
    float:left;
    line-height:1.3em;
}

.chat-left .chat-message-box {
    color: #333;/*テキストを黒にする*/
    background: #fff;
    border: 2px solid #282c34;
    border-radius: 30px 30px 30px 0px;/*左下だけ尖らせて吹き出し感を出す*/
    margin-right: 50px;/*左側の発言だとわかる様に、吹き出し右側に隙間を入れる*/
}

.chat-right .chat-message-box{
    color: #fff;/*テキストを白にする*/
    background: rgb(66, 78, 69);
    border: 2px solid #282c34;
    border-radius: 30px 30px 0px 30px;/*右下だけ尖らせて吹き出し感を出す*/
    margin-left: 50px;/*右側の発言だとわかる様に、吹き出し左側に隙間を入れる*/
}

.chat-right{
    float:right;
    line-height:1.3em;
}

.chat-message-clear{
    clear: both; 
}

