.pagination-container{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    // background-color: aqua;
}
.pagination-item {
    // background-color: #282c34;
    height: 30px;
}
.pagination { //おまじない
    padding-top: 0px;    
}