.request-image{
    height: 350px;
    width: 350px;
}

.request-lent-time-number-input{
    width: 40px;
    background-color: aquamarine;
}

.request-lent-time-select-hour-or-day{
    width: 100px;
    background-color: aquamarine;

}

.request-use-time{
    width: 80;
    height: 60;
    margin-left: 20px;
}

.request-request-button{
    width: 400px;
    margin-left: 65px;
}

.request-posted-person{
    font-size: 30px;
    color: white;

}

.request-posted-person-value{
    font-size: 20px;
    color: yellow;
}

.request-item-brand-name{
    font-size: 20px;
    color: white;
}

.request-item-price{
    font-size: 20px;
    color: white;
}

.item-post-form-label{
    color: white;
}

.request-item-use-period{
    font-size: 20px;
    color: white;
}

.request-item-preferred-date{
    font-size: 20px;
    color: white;
}

.request-item-deliver-place{
    font-size: 20px;
    color: white;
}

.request-item-preferred-date-text{
    margin-left: 20px;
}