.left{
    background: yellow;
}

.right{
    background-color: yellowgreen;
}

.request-image{
    height: 350px;
    width: 350px;
}

.request-lent-time-number-input{
    width: 40px;
    background-color: aquamarine;
}

.request-lent-time-select-hour-or-day{
    width: 100px;
    background-color: aquamarine;

}

.request-lent-time-header{
    // font-size:25px;
    // background-color: aquamarine;
}