.navbar-container{
    position: fixed;
    top: 0px;
    width: 100%;
}
.navbar-hamburger-menu-button{
    position: fixed;
    top: 15px;
    right: 20px;
}
.navbar-hamburger-menu-button:hover{
    background-color: #999999;
    position: absolute;
    top: 15px;
    right: 20px;
}
.navbar-hamburger-menu-button-item{
    width: 80px;
}
.navbar-hamburger-menu-button-items{
    position: fixed;
    top: 55px;
    right:20px;
}
.navbar-logo-image{
    height: 60px;
    margin-left: 15px;
    margin-top: 10px;
}
