// /* mixinの定義 */
// @mixin bg-gradient($angle: 180deg, $color: #0bd, $amount: 20%) {
//     background: linear-gradient($angle, $color, adjust-hue($color, $amount)) fixed;
//   }
   
//   /* 必要箇所でmixinの呼び出し */
// body {
// @include bg-gradient;
// }

@mixin bg-gradient($angle: 0.01deg, $color: #ea4335, $amount: 50%) {
    background: linear-gradient($angle, $color, adjust-hue($color, $amount)) fixed;
  }
   
.item-list-add-button {
    background: linear-gradient(to bottom,#FF6254,#ea4335 30%,#D12A1B); 
    border-color: #ea4335;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
}
.item-list-add-button:hover {
    // background-color: #fbbc05;
    background: linear-gradient(to bottom,#F9C936,#fbbc05 30%,#C69B17); 
    border-color: #fbbc05;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
}
// .item-list-container {
//     // padding-top: 100px;
// }
.item-list-item-card {
    border-width: 0px;
    margin-bottom: 20px;
}
.item-list-item-card:hover {
    border-width: 0px;
    margin-bottom: 20px;
    transform: scale(1.2);
    transition-duration: 0.5s;  
}
.item-list-item-card-image {
    border-color: #ffffff;
    width: 100%;
    // transition-duration: 0.5s;
    // -webkit-transform: scale(1.5,1.5);
	// transform: scale(1.5,1.5);
}
.item-list-item-card-image:hover {
    border-color: #ffffff;
    width: 100%;
    // transform: scale(1.2);
    // transition-duration: 0.5s;  
}
.item-list-item-card-image-smoke {    
    background-color: #ffffff;
    // height: 250px;
    // width: 250px;
    width: 100%;
    padding-top: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.1;
}
.item-list-item-card-image-smoke-not-available{
    background-color: #333333;
    // height: 250px;
    // width: 250px;
    width: 100%;
    padding-top: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.8;
}
// .item-list-item-card-status-available {
//     color: #33b033;
//     font-size: 12px;
//     font-weight: bold;
//     position: absolute;
//     bottom: -5px;
//     left: 15px;
// }
.item-list-item-card-status-unavailable {
    // color: #ff6967;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: -5px;
    left: 15px;
}
$title-top: 7px;
$title-left: 7px;
$price-bottom: -5px;
$price-right: 10px;
.item-list-item-card-title-red {
    // background-color: #ea4335;
    background: linear-gradient(to bottom,#FF6254,#ea4335 30%,#D12A1B); 
    // border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: $title-top;
    left: $title-left;
}
.item-list-item-card-title-yellow {
    background-color: #fbbc05;
    // border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: $title-top;
    left: $title-left;
}
.item-list-item-card-title-blue {
    background-color: #4285f4;
    // border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: $title-top;
    left: $title-left;
}
.item-list-item-card-title-green {
    background-color: #34a853;
    // border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: $title-top;
    left: $title-left;
}
.item-list-item-card-price-red {
    // background-color: #ea4335;
    background: linear-gradient(to bottom,#FF6254,#ea4335 30%,#D12A1B); 
    // border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: $price-bottom;
    right: $price-right;
}
.item-list-item-card-price-yellow {
    background-color: #fbbc05;
    // border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: $price-bottom;
    right: $price-right;
}
.item-list-item-card-price-blue {
    background-color: #4285f4;
    // border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: $price-bottom;
    right: $price-right;
}
.item-list-item-card-price-green {
    background-color: #34a853;
    // border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: $price-bottom;
    right: $price-right;
}
.item-list-item-card-price {
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 8px;
    color: #ffffff;
    // color: #000000;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    // bottom: 10px;
    top: 10px;
    right: 20px;
}
.item-list-item-card-price-under {
    color: #ffffff;
    font-size: 18px;
    margin-top: -10px;
}
.item-list-item-card-detail-button-yellow {
    background-color: #fbbc05;
    border-color: #fbbc05;
    width: 60px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.item-list-item-card-detail-button-red {
    // background-color: #002739;
    // border-color: #002739;
    background-color: linear-gradient(to bottom,#FF6254,#ea4335 30%,#D12A1B);
    border-color: linear-gradient(to bottom,#FF6254,#ea4335 30%,#D12A1B);
    width: 60px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.item-list-item-card-detail-button-blue {
    // background-color: #002739;
    // border-color: #002739;
    background-color: #4285f4;
    border-color: #4285f4;
    width: 60px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.item-list-item-card-detail-button-green {
    // background-color: #002739;
    // border-color: #002739;
    background-color: #34a853;
    border-color: #34a853;
    width: 60px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}